h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 15px;
}

.income__title {
  color: #28b9b5;
}

.expense__title {
  color: #ff5049;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
