.budget__expenses {
  padding: 12px;
  text-transform: uppercase;
  background-color: #ff5049;
  display: flex;
  justify-content: space-evenly;
}

.budget__expenses__text {
  font-size: 1.5em;
  color: #444;
  margin-top: 1px;
}

.budget__expenses__value {
  letter-spacing: 1px;
  font-size: 1.5em;
}

.budget__expenses__percentage {
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}
