.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
  color: #ff5049;
  /* margin-left: 4em; */
}
